@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400&display=swap");

:root {
    --blue-chalk: #EBEBF3;
    --iris: #4A56C2;
    --dull-lavender: #979EE8;
    --grey-cloud: #B4B4C0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Mulish', sans-serif;
}