@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400&display=swap");

:root {
  --blue-chalk: #ebebf3;
  --iris: #4a56c2;
  --dull-lavender: #979ee8;
  --grey-cloud: #b4b4c0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Mulish", sans-serif;
  background-color: var(--grey-cloud);
}

.white-canvas {
  width: fit-content;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 0 20px;
}

.parent-container {
  background-color: var(--blue-chalk);
  padding: 50px;
  border-radius: 15px;
}

h1 {
  margin-bottom: 2em;
  font-size: 1.5rem;
}

.sliders {
  display: flex;
  gap: 20px;
  margin-bottom: 2em;
}

.slider {
  -webkit-appearance: none;
  background: linear-gradient(to right, #4a56c2 50%, white 50%);
  outline: none;
  border-radius: 10px;
  width: 15em;
  height: 10px;
}

.slider:hover {
  opacity: 1; /* Fully shown on mouse-over */
  cursor: pointer;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: var(--iris);
  position: relative;
}

.estimated-amounts {
  display: flex;
  gap: 6em;
  margin-bottom: 2em;
}

button {
  padding: 20px 35px;
  background-color: var(--iris);
  color: white;
  border: none;
  border-radius: 5px;
  font-weight: 200;
  cursor: pointer;
}

span {
  font-size: .9rem;
}
